{% set category = entity.getInstance() %}
{% set show = '' %}

{% if category.attributes(true).count > 0 %}
    {% if ea.crud.currentAction == 'detail' %}
        {# show expanded on details#}
        {% set show = ' show' %}
    {% endif %}

    <div class="accordion-item border-0">
        <h6 class="accordion-header">
            <a class="accordion-button collapsed px-0 py-1" type="button" data-bs-toggle="collapse"
               data-bs-target="#contents-{{ category.id }}">
                <span class="badge badge-secondary">{{ category.attributes(true).count }}</span>
            </a>
        </h6>
        <div id="contents-{{ category.id }}" class="accordion-collapse collapse{{ show }}">
            <ul class="list-unstyled">
                {% for attribute in category.attributes(true) %}
                    <li>
                        {% if attribute.category.id != category.id %}
                            <small class="text-muted" title="inherited from parent"><i class="fa fa-code-fork"></i>&nbsp;</small>
                        {% else %}
                            <small class="text-muted" title="inherited from parent"><i class="fa fa-home"></i>&nbsp;</small>
                        {% endif %}
                        <small class="text-muted" style="font-style: italic">{{ attribute }}</small>

                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% else %}
    <span class="badge badge-secondary">0</span>
{% endif %}